div {
  margin: 0 0 1rem 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-sizing: border-box;

  section {
    border: 1px solid red;
    background-color: rgb(200, 0, 0);
    padding: 1rem;
    margin: 1rem;

    .wrapper {
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: space-between;

      padding: 1rem;
      margin: 1rem;
      color: white;
      font-size: 0.8rem;

      button {
        border: none;
        padding: 0.5rem 2rem;
      }
    }

    p {
      color: white;
      margin: 0 1rem;
      //   background-color: black;
    }
  }
}
